@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #151515;
}

.card {
  width: 90%;
  max-width: 380px;
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: rgba(236, 242, 238, 0.533);
  color: #051937;
  padding: 10px 25px;
  height: 30px;
  border-radius: 10px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search-button {
  border: 0;
  outline: 0;
  background: rgba(236, 242, 238, 0.533);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search-icon {
  font-size: 20px;
  color: #051937;
}

.weather-icon {
  font-size: 100px;
  margin-top: 30px;
}

.degre {
  font-size: 54px;
  font-weight: 500;
}

.city {
  font-size: 40px;
  font-weight: 400;
  margin: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.wind-icon,
.humidity-icon {
  margin-right: 10px;
  font-size: 40px;
  height: auto;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
